doctype html
html
  head
    title Admin Zone
    //- link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
    link(rel='stylesheet', href='/static/styleadmin1.css', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay', crossorigin='anonymous')
    link(rel="stylesheet" href="./static/tablestyle.css")
    link(rel="stylesheet" href="./static/css/style.css")
    link(rel="stylesheet" href="./static/css/responsive.css")
    
    
  body
    nav.navbar.footer.h-nav-resp
      ul.nav-list.v-class-resp
        .logo
          img(src="../static/img/1.png" alt="logo")
        li
          a(href="#") Home
        
        li
          a(href="/#team") Team
        li
          a(href="/#about") About
        li
          a(href="/register") Add_Admin
        li
          a(href="/logout") logout
        //- li
          a(href="/logoutall") logoutall
      .burger
        .line
        .line
        .line
    .container
      h2
        | Contact Queries 
        small NSS UIET
      ul.responsive-table
        li.table-header
          .col.col-1 Name
          .col.col-2 Email
          .col.col-3 Phone
          .col.col-4 Concern
          .col.col-5 Status
        each collection in data
          if true
            li.table-row
              .col.col-1(data-label="Name")=collection.name
              .col.col-2(data-label="Email")=collection.email
              .col.col-3(data-label="Phone")=collection.phone
              .col.col-4(data-label="Concern")=collection.concern
              .col.col-5(data-label="Status")
                form(action='/edit/'+ collection._id  method='POST')
                  input(type='text' value=collection.content name='status')
                  button(type='submit') Confirm
                  a.cancel(href='/admin1') Cancel
                      
          else
            li.table-row
              .col.col-1(data-label="Name")=collection.name
              .col.col-2(data-label="Email")=collection.email
              .col.col-3(data-label="Phone")=collection.phone
              .col.col-4(data-label="Concern")=collection.concern
              .col.col-5(data-label="Status")=collection.status
            
    
      //-  div.todo-container
    
      //- form.todo-header(action='/', method='POST')
        input(type='text', name='content')
        button(type='submit')
          span.fas.fa-plus
    //- div.aligntable  
    //-   h1.list-heading= message

    //-   div.tablediv
    //-     table.table
    //-       thead
    //-         tr
    //-           th(scope="col") Name
    //-           th(scope="col") Email
    //-           th(scope="col") Phone
    //-           th(scope="col") Concern
    //-           th(scope="col") Status
    //-       tbody
    //-         each collection in data
    //-           tr
    //-             th(scope="row")=collection.name
    //-             td=collection.email
    //-             td=collection.phone
    //-             td=collection.concern
    //-             td=collection.status
              
          //- tr
          //-   td 1
          //-   td Mark
          //-   td Otto
          //-   td @mdo
          //- tr
          //-   th(scope="row") 2
          //-   td Jacob
          //-   td Thornton
          //-   td @fat
          //- tr
          //-   th(scope="row") 3
          //-   td(colspan="2") Larry the Bird    
    //- table.table
      th Name
      th Email
      th Phone
      th Concern
      th status
      each collection in data
        tr
          td=collection.name
          td=collection.email
          td=collection.phone
          td=collection.concern
          td
            form(action='/save/'+collection._id, method="post")
              input(type="text" value=collection.status name='status')
              input(type="submit" value="submit")

        //- ul.todo-list
          each collection in data
            li.todo-list-item=collection.name
            li.todo-list-item=collection.concern
                div.todo-list-item-name
                a.edit(href='/edit/'+collection._id)
                  span.fas.fa-edit
                a.remove(href='todos/'+collection._id)
                  span.fas.fa-times
    footer.footer.f
      p.text-footer
        | Copyright © - NSS UIET - All rights reserved
        br
        | Created by - Nitish Gupta
    script(src="../static/js/resp.js")